.explore-now-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.rectangle-356 {
  width: 200px;
  height: 50px;
  background: #843cfc;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.explore-now-text {
  font-family: "Segoe UI", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}
