.component {
  height: 607px;
  position: relative;
  width: 100%;
}

.component .text-wrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 587px;
  white-space: nowrap;
}

.component .div {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1344px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 583px;
  white-space: nowrap;
}

.component .text-wrapper-2 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1474px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 583px;
  white-space: nowrap;
}

.component .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1626px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 583px;
  white-space: nowrap;
}

.component .overlap-group {
  background-color: #e5dfee;
  border-radius: 40px;
  height: 563px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.component .overlap {
  height: 367px;
  left: 72px;
  position: absolute;
  top: 3px;
  width: 521px;
}

.component .polypos {
  height: 272px;
  left: 0;
  object-fit: contain;
  position: absolute;
  top: 0;
  width: 483px;
}

.component .the-future-of {
  color: #000000;
  font-family: "Lucida Sans-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 13px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 226px;
  width: 508px;
}

.component .span {
  color: #000000;
  font-family: "Lucida Sans-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0;
}

.component .polypo-logo-updated {
  height: 549px;
  left: 1205px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 537px;
}

.component .let-s-talk-wrapper {
  -webkit-backdrop-filter: blur(3.6px) brightness(100%);
  backdrop-filter: blur(3.6px) brightness(100%);
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 86px;
  height: 85px;
  left: 85px;
  position: absolute;
  top: 436px;
  width: 242px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.component .let-s-talk {
  color: #000000;
  font-family: "Segoe UI-Bold", Helvetica;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
}

.component .insta-svgrepo-com-wrapper {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 43.5px;
  height: 87px;
  left: 622px;
  position: absolute;
  top: 434px;
  width: 87px;
}

.component .insta-svgrepo-com {
  height: 43px;
  left: 21px;
  position: absolute;
  top: 22px;
  width: 43px;
}

.component .linkedin-svgrepo-com-wrapper {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 43.5px;
  height: 87px;
  left: 725px;
  position: absolute;
  top: 434px;
  width: 87px;
}

.component .linkedin-svgrepo-com {
  height: 33px;
  left: 25px;
  position: absolute;
  top: 25px;
  width: 35px;
}

.component .tiktok-svgrepo-com-wrapper {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 43.5px;
  height: 87px;
  left: 828px;
  position: absolute;
  top: 434px;
  width: 87px;
}

.component .tiktok-svgrepo-com {
  height: 39px;
  left: 23px;
  position: absolute;
  top: 23px;
  width: 40px;
}

.component .x-logo-original-wrapper {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 43.5px;
  height: 87px;
  left: 931px;
  position: absolute;
  top: 434px;
  width: 87px;
}

.component .x-logo-original {
  height: 31px;
  left: 25px;
  position: absolute;
  top: 26px;
  width: 35px;
}

.component .vector-stroke-wrapper {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 43.5px;
  height: 87px;
  left: 1034px;
  position: absolute;
  top: 434px;
  width: 87px;
}

.component .vector-stroke {
  height: 37px;
  left: 23px;
  position: absolute;
  top: 23px;
  width: 42px;
}

.component .text-wrapper-4 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 630px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 146px;
  white-space: nowrap;
}

.component .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 922px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 146px;
  white-space: nowrap;
}

.component .text-wrapper-6 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 630px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 229px;
  width: 103px;
}

.component .text-wrapper-7 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 922px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 228px;
  white-space: nowrap;
  width: 103px;
}

.component .text-wrapper-8 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 630px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 295px;
  width: 93px;
}

.component .text-wrapper-9 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 922px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 295px;
  width: 93px;
}

.component .text-wrapper-10 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 630px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 360px;
  width: 78px;
}

.component .text-wrapper-11 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 922px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 360px;
  width: 78px;
}
