.items {
  display: flex;
  text-align: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.item {
  text-align: center;
  margin: 20px;
}

.model-image {
  width: 200px;
  height: auto;
}

.item-description {
  font-family: "Lucida Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: hsl(0, 0%, 0%);
  margin-top: 10px;
}
