.menu-bar {
  display: flex;
}

.logo {
  height: auto;
  margin-right: 100px;
}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 62px;
  background: rgba(255, 255, 255, 0.61);
  border: 1px solid #000000;
  backdrop-filter: blur(18.9px);
  border-radius: 150px;
  margin-top: 45px;
}

.menu-men,
.menu-divider,
.menu-women {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #000000;
}

.menu-divider {
  margin: 0 10px;
}

.menu-women {
  color: #843cfc;
}
